a{
	cursor: pointer;
}

.dongha-insta:hover{
	color: #7eb8e5;
}

.sojeong-insta:hover{
	color: #ffd900;
}

.miso-insta:hover{
	color: #309c46;
}

.jihyun-insta:hover{
	color: #28469b;
}

.inji-insta:hover{
	color: #ee762d;
}

.hyunwoo-insta:hover{
	color: #997db7;
}

.yul-insta:hover{
	color: #e60020;
}

.choiyunji-insta:hover{
	color: #ef8d9e;
}

.hanyunji-insta:hover{
	color: #9b5e35;
}

.hyein-insta:hover{
	color: #9dd0a0;
}